[user]
	name = Kim Silkebækken
	email = kim.silkebaekken@gmail.com
	editor = vim

[core]
	autocrlf = input
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
	excludesfile = ~/.gitignore
	pager = /usr/bin/less

[merge]
	tool = lvimdiff

[mergetool "lvimdiff"]
	cmd = "vim -d -c 'wincmd J' $MERGED $LOCAL $BASE $REMOTE"
	keepbackup = false

[diff]
	tool = vimdiff

[color]
	ui = auto

[color "branch"]
	current = bold cyan reverse
	local = cyan
	remote = yellow

[color "diff"]
	meta = yellow
	frag = cyan
	old = red bold
	new = green bold
	whitespace = red bold reverse

[color "status"]
	added = green bold
	changed = yellow
	untracked = red
	nobranch = red bold reverse

[push]
	default = current

[alias]
	d   = diff --patience --find-renames --find-copies
	sd  = diff --patience --find-renames --find-copies --staged
	co  = checkout
	br  = branch
	st  = status -sb --ignore-submodules=all
	pa  = push --all
	rmd = "!for f in $(git status | grep deleted | awk '{print $2}'); do git rm $f; done"
	l   = "!f () { git log --abbrev-commit --date=short --pretty=format:'%h%x00%cd%x00%s%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"\\033[31m%s\\033[0m \\033[32m%s\\033[0m  %-50s \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5 }' | less -R; }; f"
	lg  = "!f () { git log --graph --color=always --abbrev-commit --date=relative --pretty=format:'%x00%h%x00%s%x00%cd%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m %-50s \\033[32m%14s\\033[0m \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5, $6 }' | less -R; }; f"
	lp  = log -p --patience

	ghadd = "!f () { git remote add $1 git@github.com:$1/$2.git; git fetch $1; }; f"

	unstage = reset HEAD --
	csub    = "!subs=$(git ls-files --error-unmatch --stage -- $(git ls-files --modified) | grep \"^160000\" | cut -f2-); msg=$(echo Update submodules; echo; git submodule summary); git commit -e -m \"$msg\" --only $(echo $subs | tr \"\n\" \" \")"
	subdo   = submodule foreach git

[url "http://github.com/"]
	insteadOf = "gh:"

[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
	pushInsteadOf = "http://github.com/"
	pushInsteadOf = "gh:"

[url "https://gist.github.com/"]
	insteadOf = "gist:"

[url "git@gist.github.com:"]
	pushInsteadOf = "https://gist.github.com/"
	pushInsteadOf = "http://gist.github.com/"
	pushInsteadOf = "gist:"
