[submodule "vimplugins/vim-fugitive"]
	path = vimplugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimplugins/vim-git"]
	path = vimplugins/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vimplugins/vim-haml"]
	path = vimplugins/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vimplugins/vim-markdown"]
	path = vimplugins/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vimplugins/snipmate"]
	path = vimplugins/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vimplugins/delimitmate"]
	path = vimplugins/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimplugins/nerdtree"]
	path = vimplugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimplugins/vim-javascript"]
	path = vimplugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimplugins/lusty"]
	path = vimplugins/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vimplugins/vim-easytags"]
	path = vimplugins/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vimplugins/supertab"]
	path = vimplugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimplugins/piv"]
	path = vimplugins/piv
	url = https://github.com/spf13/PIV.git
[submodule "vimplugins/syntastic"]
	path = vimplugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimplugins/phpcomplete"]
	path = vimplugins/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "vimplugins/nerdcommenter"]
	path = vimplugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimplugins/vim-taglist"]
	path = vimplugins/vim-taglist
	url = https://github.com/mexpolk/vim-taglist.git
