[submodule "zshfiles/modules/git-flow-completion"]
	path = zshfiles/modules/git-flow-completion
	url = git://github.com/bobthecow/git-flow-completion.git
[submodule "modules/vimpager"]
	path = modules/vimpager
	url = git://github.com/rkitover/vimpager.git
[submodule "dotfiles/.fonts/bitmap/lokaltog-fonts"]
	path = dotfiles/.fonts/bitmap/lokaltog-fonts
	url = git://github.com/Lokaltog/lokaltog-fonts.git
[submodule "vimfiles"]
	path = vimfiles
	url = git://github.com/Lokaltog/vimfiles.git
[submodule "dotfiles/.fonts/fonts"]
	path = dotfiles/.fonts/fonts
	url = git@github.com:Lokaltog/fonts.git
[submodule "modules/taghighlight"]
	path = modules/taghighlight
	url = git://github.com/abudden/TagHighlight.git
