! Cursor theme {{{
Xcursor.theme: Vanilla-DMZ
Xcursor.size: 16
! }}}
! Xft settings {{{
Xft.antialias: 1
Xft.autohint : 0
Xft.hinting  : 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba     : rgb
! }}}
